language: python
sudo: required
python:
    - "3.4"
    - "3.5"
    - "3.6"
install:
    - pip3 install -r requirements.txt
script:
    - sudo python -c "import kickthemout; import scan; import spoof"